{% load static %}
<!-- CSS CUSTOM -->
<link rel="stylesheet" href="{% static "css/base.css" %}">
{% block title %}<h3>My Todo List</h3>{% endblock %}
{% block content %}
 
 {% if Todo_list %}

 {% for T in Todo_list %}

   <div > <b>Title:</b> {{T.title }}   </div>
   <div > <b>Date Created:</b> :{{ T.Date_Created }}   </div>
   <div > <b>Description:</b> :{{ T.description  }}  </div>
   <div><br></div>
 {% endfor %}
 {% else %}
 <p>You have not added a Todo's yet </p>
 
 {% endif %}
 <a href="{% url "Today_Plan_User_Input" %}"><h3><input type="submit" value="Add New"></h3></a>
{% endblock %}