{% load static %}
<!-- CSS CUSTOM -->
<link rel="stylesheet" href="{% static "css/base.css" %}">
{% block title %}<h1>Create your todo plan for today here<h1>{% endblock %}
{% block content %}
 
 {% if Todo_list %}

 {% for T in Todo_list %}
 <table>
    <tr>
 <td><h2>{{ T.title }}</h2></td>
 </tr>
 <td>{{ T.Date_Created }}</Td>
 <td>{{ T.description  }}</td>
 
 </table>
 {% endfor %}
 {% else %}
 <p>No athletes.</p>
 {% endif %}
 <p>You can Add new Todos for today with the below Add option</p>
 <a href="{% url "Today_Plan_User_Input" %}"><h3><input type="submit" value="Add"></h3></a>
{% endblock %}