{% load static %}
<!-- CSS CUSTOM -->
<link rel="stylesheet" href="{% static "css/base.css" %}">
{% block title %}<h1>Create your todo plan for today here<h1>{% endblock %}
{% block content %}
 {% comment %} <form method="post">
 <table>  
 {{Todays_plan_form.as_table }}
 </table>
 {% csrf_token %}
 <p><input type="submit" value="Submit"></p>
 </form> {% endcomment %}
 {% if Todo_list %}

 {% for T in Todo_list %}
 <table>
    <tr>
 <td><h2>{{ T.title  }}</h2></td>
 </tr>
 <td>{{ T.Date_Created }}</Td>
 <td>{{ T.description  }}</td>
 
 </table>
 {% endfor %}
 {% endif %}
{% endblock %}